---
/**
 * Hero - 히어로 섹션
 * Notion 아이콘 + 타이틀 + 설명
 */
---

<section class="hero">
  <!-- Eyebrow -->
  <div class="hero-eyebrow">
    <!-- Notion 공식 로고 SVG (프로토타입과 동일) -->
    <svg class="notion-icon" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.017 4.313l55.333-4.087c6.797-.583 8.543-.19 12.817 2.917l17.663 12.443c2.913 2.14 3.883 2.723 3.883 5.053v68.243c0 4.277-1.553 6.807-6.99 7.193L24.467 99.967c-4.08.193-6.023-.39-8.16-3.113L3.3 79.94c-2.333-3.113-3.3-5.443-3.3-8.167V11.113c0-3.497 1.553-6.413 6.017-6.8z" fill="white" stroke="black" stroke-width="4"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M42.953 72.367l-18.1 1.127c-1.75.097-2.333-.583-2.333-1.75V38.197c0-1.36.583-2.14 1.943-2.24l18.49-1.07c1.36-.097 1.943.68 1.943 1.847v33.693c0 1.167-.583 2.043-1.943 2.14v-.2zM62.193 25.063c-.387-1.75-.97-1.847-2.72-1.557L34.097 26.04c-1.75.29-3.11 1.557-3.11 3.5v42.91c0 1.557.78 2.917 2.333 2.723l28.18-1.75c2.14-.193 2.917-1.557 2.917-3.307V28.37c0-1.36-.39-2.527-2.223-3.307zm-4.183 7.777v34.083l-3.89.39V33.23l3.89-.39z" fill="black"/>
    </svg>
    Notion 붙여넣기 최적화
  </div>

  <!-- Title (DM Sans - 한글 세리프 기울어 보이는 문제 해결) -->
  <h1>PDF 강의자료를<br />마크다운으로 변환</h1>

  <!-- Subtitle -->
  <p class="hero-sub">
    대학 강의 PDF를 이미지 포함 마크다운으로 변환해서<br />
    Notion에 바로 붙여넣으세요.
  </p>
</section>
